/* Twikoo评论框高度设置 */
.el-textarea__inner {
  min-height: 210px !important;
}

/* card, page hover 添加颜色 */
.card-widget {
  position: relative !important;
  transition: box-shadow 0.3s ease-in-out !important;
  /* box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05) !important; */
  overflow: visible !important;
}

.card-widget::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid transparent;
  border-radius: 8px;
  z-index: -1; /* 添加这行 */
  transition: border-color 0.3s ease-in-out;
}

.card-widget:hover::before {
  border-color: #6f42c1 !important;
}

#page {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
}

#page::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

#page:hover::before {
  border-color: #6f42c1;
}

#post {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
}

#post::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

#post:hover::before {
  border-color: #6f42c1;
}
