@font-face {
  font-family: 'iconfont'; /* Project id 4172286 */
  src: url('//at.alicdn.com/t/c/font_4172286_tdkpprsxgb.woff2?t=1689737303206')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4172286_tdkpprsxgb.woff?t=1689737303206')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4172286_tdkpprsxgb.ttf?t=1689737303206')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeline:before {
  content: '\ef90';
}

.icon-iconfont-v:before {
  content: '\e62b';
}

.icon-vlog:before {
  content: '\e608';
}

.icon-bilibili:before {
  content: '\e601';
}
